body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #4aacb9;
}
.face{
    width: 230px;
    height: 300px;
    background: #ffcc99;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}
.eyes{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.eyes .eye{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: white;
    top: 100px;
}
.eyes .eye::before
{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 25px;
    background: #5b9bd5;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.eyes .eye::after{
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 5px;
    border-radius: 50%;
    background: #333;
    transform: translate(-50%,-50%);
}
.left-eyebrow,.right-eyebrow{
    width: 60px;
    height: 8px;
    border-radius: 15px;
    background: #5a3d2c;
    position: absolute;
    top: 70px;
}
.left-eyebrow
{
    left: 38px;
}
.right-eyebrow{
    right: 38px;
}
.mouth{
    width: 80px;
    height: 20px;
    border-radius: 0;
    background: white;
    position: absolute;
    top: 220px;
    left: 75px;
    transition: all 0.3s ease;
}

.face:hover .mouth-2{
    top: 210px;
    height: 35px;
    border-radius: 0 0 50px 50px;
    
}
.left-ear,.right-ear{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffcc99;
    position: absolute;
    top: 90px;
}
.left-ear
{
    left: -10px;
}
.right-ear
{
    right: -10px;
}
.nose{
    border: 10px solid transparent;
    border-bottom: 25px solid #d4a68a;
    border-radius: 0 0 15px 15px;
    width: 0;
    height: 0;
    position: absolute;
    top: 130px;
    left: 105px;
}
.mustache{
    width: 40px;
    height: 15px;
    background: #5a3d2c;
    border-radius: 15px;
    position: absolute;
    top: 180px;
    left: 95px;
}

.hair{
    position: relative;
    height: auto;
    width: auto;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    width: 20px;
    height: 30px;
    background: #6f4f28;
    position: absolute;
}
.h1{
    border-radius: 50%;
    top:60px ;
    left:0;
}
.h2{
    border-radius: 45%;
    top: 45px;
    left:10px;
}
.h3{
    border-radius: 45%;
    top:35px ;
    left:20px;
}
.h4{
    border-radius: 50%;
    top:60px ;
    right:0;
}
.h5{
    border-radius: 45%;
    top:45px ;
    right:10px;
}
.h6{
    border-radius: 45%;
    top:35px ;
    right:20px;
}
